<hr style="margin-bottom:0;"/>
<h1>Run/Schedule Details</h1>
<hr style="margin-top:0;"/>
<div class="job-sheduler-grid">
  <p-table [value]="jobSchedulerDetailList" [scrollable]="true" scrollHeight="100%">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jobSchedulerDetail>
      <tr>
        <td *ngFor="let col of cols">
          {{jobSchedulerDetail[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>